:root {
  --main-font-famaly: 'Inter-Variable', sans-serif;
  --accent-font-famaly: 'PresssTART2p', sans-serif;
  --main-text-weight: 410;
  --title-text-weight: 715;
  --main-text-size: 18px;
  --main-text-color: #000;
  --main-text-color-accent: #fff;
  --contour-color: #000;
  --svg-hover-color-accent: #000;
  --animation-fill-color: red;
  --background-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-size: clamp(23.4375rem, 16.2526rem + 30.5738vw, 43.75rem);
}
